<%= if @current_user do %>
  <div style="float:right">
  Logged in as <b><%= @current_user.email %></b>
  <span><%= link "Settings", to: Routes.user_settings_path(@conn, :edit) %></span>
  <span><%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete %></span>
  </div>
<% end %>
